.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas: "aside map";
  height: 100vh;
}

.aside {
  grid-area: aside;
  height: 100%;
  background-color: var(--components-background);
  border-right: 1px solid #e5e5e5;
  overflow-y: scroll;
}

.aside h1 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.75rem;
  margin: 0;
  padding: 1rem;
  color: black;
}

.toggleBottomSheetButton {
  display: none;
}

.main {
  height: 100%;
  position: relative;
}

.message {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0;
  padding: 1rem;
  color: black;
}

.signUp {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  padding: .5rem;
  background-color: black;
  color: white;
}

.activeRowList {
  background-color: #e5e5e5;
  color: #000;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  padding: 1rem;
  min-height: 30%;
  max-height: 50%;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.activeRowList::-webkit-scrollbar {
  display: none;
}

.activeRowList:not(:has(p)) {
  display: none;
}

.leaveButton {
  bottom: 1rem;
  right: 1rem;
  z-index: 1;
  padding: .5rem;
  background-color: black;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    display: flex;
  }

  .mapContainer {
    height: 70%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .toggleBottomSheetButton {
    display: block;
    position: fixed;
    width: 100%;
    height: fit-content;
    background-color: var(--components-background);
    border: none;
    z-index: 20;
  }

  .toggleBottomSheetButton img {
    width: 2rem;
    height: 2rem;
    transform: rotate(0deg);
    transition: transform 0.5s ease-in-out;
  }
  
  .aside {
    height: 30%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border: 1px solid gray;
    z-index: 10;
    transition: height 0.5s ease-in-out;
  }

  .aside.open {
    height: 80%;
  }

  .aside.open .toggleBottomSheetButton img {
    transform: rotate(180deg);
  }

  .aside h1 {
    padding: 0;
    margin: 2rem 0 0 0;
    text-align: center;
  }
}