.container {
    border: 4px solid #ccc;
    border-radius: 15px;
    margin: 1rem 0;
    padding: 1rem;
}

.active {
    color: greenyellow;
    cursor: pointer;
}

.inactive {
    color: red;
    cursor: pointer;
}

.shopItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
}

.shopItem p {
    margin-left: 1rem;
}

.leftContainer {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rightContainer {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 20rem;
}

.start {
    background-color: green;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.stop {
    background-color: red;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.edit {
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit:active {
    background-color: #ccc;
}

.row {
    width: 50vw;
}