.shopContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 1rem;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.shopContainer:hover {
  transform: scale(1.02);
  background-color: lightgrey;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.shopContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.shopContainer h2 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.75rem;
  margin: 0;
  padding: 1rem;
  color: black;
}

.shopContainer p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin: 0;
  padding: 1rem;
  color: black;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.buttonContainer a {
  color: black;
}

.buttonContainer a:hover {
  text-decoration: underline;
}

.buttonContainer button {
  background-color: #f5f5f5;
  color: black;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.buttonContainer button:hover {
  background-color: gray;
  color: white;
}

@media (max-width: 768px) {
  .shopContainer {
    flex-direction: row;
  }
}